<!DOCTYPE html>
<html>
    <header>
    </header>
    <body>
        <h1 id="id01">Token:</h1>
        <textarea id='txtToken' rows="15" cols="100" ></textarea>

        <script>
            var x = location.hash;
            x = x.substring(1, x.length);
            keyValue = x.split('&');
            
            for(var i = 0; i < keyValue.length; i++) {
                var str = keyValue[i];
                if(str.indexOf("access_token") >= 0) {
                    var access_token = str.substring(str.indexOf("=") + 1, str.length);
                    //alert(access_token);
                    document.getElementById("txtToken").innerText = access_token;
                    break;
                }
            }
        </script>
    </body>
</html>